name: Docker_publish

on:
  push:
    branches: [ "main" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main" ]
    

jobs:
  build-container:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: Dockerfile
          
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Get script version
        id: version
        run: echo "{version}=${(python mindagap.py -v)}" >> $GITHUB_STATE
          
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/mindagap:${{steps.version.outputs.version}},
            ${{ secrets.DOCKER_USERNAME }}/mindagap:latest


